{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP</title>
</head>
<body>
    <p>Welcome to NLP.</p>
    {{r}}
    <form action="{% url 'NLP:Tutorial' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="filename" value="Word2vec">Word2vec</button>
        <button type="submit" name="filename" value="FastText">FastText</button>
        <button type="submit" name="filename" value="TF-IDF">TF-IDF</button>
    </form>
</body>
<link rel="stylesheet" type="text/css" href="{% static 'NLP/style.css' %}">
</html>