<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word2vec</title>
</head>
<body>
    <p>Word2vec Tutorial</p>

    <p>
        Word2vec is a word embedding technique. There are two different implementations of word2vec: continuous bag of words (CBOW) and skip gram.
        The CBOW algorithm uses the context words to predict the target word. On the other hand, the skip gram algorithm uses the target word to predict
        the context words. It is important to note that the skip gram algorithm is good for learning rare words while the CBOW algorithm is more suitable for
        small datasets.
    </p>
</body>
</html>